.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Page-Item {
  list-style-type: none;
  padding: 2px 16px 1px 150px;
  overflow: hidden;
}

li {
  float: left;
  padding: 16px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display:inline-block;
  
  
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px 1px 50px;
  display:inline-block;
}

.div-parent{
  padding: 2px 16px 1px 50px;
}

.block {
  width: 100px;
  display: inline-block
}